@model UserCRM.Models.CampaignUserTasks
@{
    Layout = "_Layout";
}
<div class="container">
<div class="row mt-11">
    <div class="col-12 col-md-12">
        <div class="card shadow-lg bg-gradient-dark">
            <div class="card-header bg-gradient-dark">
                <h1 class="text-gradient text-primary ubuntu-bold">Users Campaign Tasks</h1>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <ul class="list-group bg-dark bg-gradient-dark">
                            <li class="list-group-item ubuntu-bold text-white active">Campaign @Model.Campaign.CampaignId</li>
                            <li class="list-group-item ubuntu-bold text-white">Title: @Model.Campaign.Title</li>
                            <li class="list-group-item ubuntu-bold text-white">Timeframe: @Model.Campaign.StartDate.ToString("d") - @Model.Campaign.EndDate.ToString("d")</li>
                            <li class="list-group-item ubuntu-bold text-white">Target Audience: @Model.Campaign.TargetAudience</li>
                            <li class="list-group-item ubuntu-bold text-white">Status: @Model.Campaign.Budget.ToString("C")</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <ul class="list-group bg-gradient-dark">
                            <li class="list-group-item ubuntu-bold text-white active">Task @Model.Task.TaskId</li>
                            <li class="list-group-item ubuntu-bold text-white">Title: @Model.Task.Title</li>
                            <li class="list-group-item ubuntu-bold text-white">Due Date: @Model.Task.DueDate.ToString("d")</li>
                            <li class="list-group-item ubuntu-bold text-white">Status: @Model.Task.Status</li>
                            <li class="list-group-item ubuntu-bold text-white">Priority: @Model.Task.Priority</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <ul class="list-group bg-gradient-dark">
                            <li class="list-group-item ubuntu-bold text-white active">User @Model.User.Id</li>
                            <li class="list-group-item ubuntu-bold text-white">Email: @Model.User.Email</li>
                            <li class="list-group-item ubuntu-bold text-white">Name: @Model.User.FirstName @Model.User.MiddleName @Model.User.LastName</li>
                            <li class="list-group-item ubuntu-bold text-white">Role: @Model.User.Role</li>
                            <li class="list-group-item ubuntu-bold text-white">Phone: @Model.User.Phone</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12-col-md-12 p-3">
                        <h4 class="text-gradient text-primary ubuntu-bold">Campaign Description</h4>
                        <p class="ubuntu text-white">@Model.Campaign.Description</p>
                        <hr class="bg-gradient-info">
                        <h4 class="text-gradient text-primary ubuntu-bold">Task Description</h4>
                        <p class="ubuntu text-white">@Model.Task.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>